@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.div{
    border: 1px solid green;
}
.div2{
    border: 1px solid red;
}
h1{
    font-weight: bold;
    font-size: 1.5rem;
}
h2{
    font-weight: bold;
    font-size: 1.2rem;
    color: #334155;
}
p,h2{
    margin: 1.25rem 0;
}