@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body{
    font-family: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.div{
    border: 1px solid green;
}
.div2{
    border: 1px solid red;
}
h1{
    font-weight: bold;
    font-size: 1.5rem;
}
h2{
    font-weight: bold;
    font-size: 1.2rem;
    color: #334155;
}